<div class="container p-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center fs-4">Login Page</div>


                <div class="card-body">

                    <form #otpLoginForm="ngForm" (ngSubmit)="otpLogin(otpLoginForm)">
                        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                        <br>


                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Phone Number</mat-label>
                            <input matInput
                             ngModel 
                             required
                             placeholder="Phone Number" 
                             id="phoneNumber" name="phoneNumber" >
                          
                          </mat-form-field>
                          <br>
                          <button class="w-20" type="button" mat-raised-button  (click)="generateOTP(otpLoginForm.value)">Generate OTP</button>

                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>OTP</mat-label>
                            <input matInput
                             ngModel
                             required
                              placeholder="OTP"
                              id="otp" name="otp">
                           
                          </mat-form-field>
                         
                          <br>
                          <br>
                          
                          <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
                 
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
