
<div class="container mt-5" >
    <div class="card p-2" >
        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="(addProduct(productForm))">

                    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>             
                    <br>
                    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <input matInput
                         placeholder="product name"
                         [(ngModel)]="product.productName"
                         name="productName" >
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Discription</mat-label>
                        <input matInput
                         placeholder="product discription"
                         [(ngModel)]="product.productDescription"
                         name="productDescription"  >
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Category</mat-label>
                        <input matInput
                         placeholder="category"
                         [(ngModel)]="product.category"
                         name="category" >
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Quantity</mat-label>
                        <input matInput
                         placeholder="quantity"
                         [(ngModel)]="product.quantity"
                         name="category">
                      </mat-form-field>



                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Actual Price</mat-label>
                        <input matInput
                         placeholder="actual price" 
                         [(ngModel)]="product.productActualPrice"
                         name="productActualPrice" >
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Discounted Price</mat-label>
                        <input matInput
                         placeholder="discounted price" 
                         [(ngModel)]="product.productDiscountedPrice"
                         name="productDiscountedPrice" >
                      </mat-form-field>

                      <div align="end">
                        <button mat-stroked-button color="primary" type="submit">Add Product</button>
                      </div>
                    </form>
                  </div>

            <div class="col-6">
                <div>


                  <div class="dropzone"
                  appDrag
                  (files)="fileDropped($event)">
                    <div class="text-wrapper">
                      <div class="centered">
                        Drag and drop your file or <a (click)="selectFile.click()" class="browse-button">browse</a> a file
                      </div>
                    </div>
                  </div>



                  <input type="file"
                   multiple value="select" #selectFile
                (change)="onFileSelected($event)" style="display: none;">
                </div>

                <div class="mt-5">
                  <div class="row">
                    <mat-grid-list cols="4" rowHeight="1:1">
                      <mat-grid-tile *ngFor="let file of product.productImages;
                      let i= index;"> 
                        <div style="position: relative;">
                          <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                          <img [src]="file.url" width="100px" height="100px">
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>