<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container mt-5">


  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
         <br>
         <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div>
        
    

      <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput
           ngModel 
           required
           placeholder="fisrt name" 
           id="userFirstName" name="userFirstName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput
           ngModel 
           required
           placeholder="lastname" 
           id="userLastName" name="userLastName">
        </mat-form-field>


      <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input matInput
           ngModel 
           required
           placeholder="Username" 
           id="userName" name="userName">
        </mat-form-field>
      

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput
           ngModel
           required
            placeholder="Password"
            id="userPassword" name="userPassword" type="password">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="w-100">sign-up</button>
      </form>

      <table class="table table-bordered">
        <thead class="thead">
          <tr>
            <th>User Name</th>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let user of userData">
            <td>{{user.userName}}</td>
            <td>{{user.userFirstName}}</td>
            <td>{{user.userLastName}}</td>
            <td><button type="button" class="btn btn-primary">Edit</button></td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

</div>
