.product-information{
    font-size: medium;
}

.image-container{
    height: 500px;
    position: relative;
}

.product-zoom-image{
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
mat-grid-tile{
    border: 1px solid #eee;
    cursor: pointer;
}